body {
  background-color: #1C1C1F;
}
.header1 {
  background-color: #28344E;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color:#5383E8;
  text-decoration:none;
  cursor:pointer;
}

.header1 .navbar-nav .nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

#dropdownButton1{
  width:100px;
  padding-top: 5px;
  padding-right: 0px;
}

.header2 {
  background-color: #5383E8;
  color: white;
}

.btn-white {
  color: #B3CDFF;
}

#smolder {
  display: block;
  max-height: 300px;
  margin: 0 auto;
  border: 0;
  vertical-align: middle;
  padding-top: 50px;
  padding-right: 100px;
}

#searchBar {
  color: white;
  background-color: #31313C;
  border: 0;
}
#dropdownButton2 {
  color: #515163;
}
.dropdown-item {
  color: #515163;
  background-color: #31313C;
}

#textBox {
  background-color: #31313C;
  border: 0;
}

footer {
  color: white;
  padding: 15%;

}

#sndRow {
  font-size: 12px;
  line-height: 16px;
  color: #B7B7C9;
}

#disclaimer {
  font-size: 12px;
  line-height: 16px;
  color: #7B7A8E;
}
